html {
  background: var(--chakra-colors-chakra-body-bg) !important;
  overflow-y: scroll;
}

#root {
  width: 100%;
  text-align: center;
}

[style*="visibility: hidden"][style*="min-width: max-content"] {
  width: 0;
  min-width: 0 !important;
  overflow: hidden;
}

.animated text:last-of-type {
  fill: #4a6de5 !important;
  transition: fill 2s ease-out;
}

.lazy {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.lazy.loaded {
  opacity: 1;
}

#auth-magic-link input:hover {
  border-color: var(--chakra-colors-shadow-color) !important;
}

#auth-magic-link input:focus {
  border-color: var(--chakra-colors-bg-button) !important;
  box-shadow: 0 0 0 2px var(--chakra-colors-bg-button);
}

#auth-magic-link button:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--chakra-colors-chakra-body-bg), 0 0 0 3px var(--chakra-colors-bg-button);
}

#auth-magic-link button:hover:focus {
  box-shadow: 0 0 0 1px var(--chakra-colors-chakra-body-bg), 0 0 0 3px var(--chakra-colors-bg-inverted);
}

.DateRangePickerInput {
  border-radius: var(--chakra-radii-md);
  overflow: hidden;
}

.DateInput_input {
  border-width: 3px;
  height: 48px;
  font: var(--chakra-fontSizes-lg) var(--chakra-fonts-body);
  cursor: pointer;
}

.DateInput_input__focused {
  border-color: var(--chakra-colors-brand-primary);
}

.DateRangePicker_picker {
  box-shadow: var(--chakra-shadows-sm);
}

small {
  font-size: 100% !important;
}

.DayPickerNavigation_button {
  border-color: var(--chakra-colors-gray-200);
}

.DayPickerNavigation_button:hover {
  border-color: var(--chakra-colors-gray-400);
}

.CalendarMonth_caption {
  font-size: var(--chakra-fontSizes-lg);
}

.CalendarDay {
  border-color: var(--chakra-colors-gray-200);
  font: var(--chakra-fontSizes-md);
}

.CalendarDay:hover {
  background: var(--chakra-colors-gray-100);
  color: #484848;
}

.CalendarDay__selected, .CalendarDay__selected:hover, .CalendarDay__selected:focus {
  border-color: var(--chakra-colors-accent-secondary);
  background: var(--chakra-colors-brand-primary);
}

.CalendarDay__selected:hover {
  color: white;
}

.CalendarDay__selected_span {
  border-color: var(--chakra-colors-brand-primary);
  background: var(--chakra-colors-accent-primary);
}

.CalendarDay__selected_span:hover, .CalendarDay__selected_span:focus {
  border-color: var(--chakra-colors-accent-secondary);
  background: var(--chakra-colors-brand-primary);
}

.CalendarDay__selected_span:hover {
  color: white;
}

.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
  border-color: var(--chakra-colors-brand-primary);
  background: var(--chakra-colors-accent-primary);
  color: white;
}

.CalendarDay__blocked_out_of_range, .CalendarDay__blocked_out_of_range:hover {
  border-color: var(--chakra-colors-gray-100);
  background: var(--chakra-colors-gray-50);
  color: var(--chakra-colors-gray-300);
}

[data-popper-placement="right-start" i] .chakra-tooltip__arrow-wrapper {
  top: -3px !important;
}

[data-popper-placement="right-start" i]
.chakra-tooltip__arrow-wrapper[style*="translate3d(0px, 8px, 0px)" i] {
  top: 3px !important;
}

[data-popper-placement="right-end" i] .chakra-tooltip__arrow-wrapper {
  top: 3px !important;
}

[data-popper-placement="right-start" i] .verbose .chakra-tooltip__arrow-wrapper {
  top: -14px !important;
}

[data-popper-placement="right-start" i]
.verbose
.chakra-tooltip__arrow-wrapper[style*="translate3d(0px, 8px, 0px)" i] {
  top: 14px !important;
}

[data-popper-placement="right-start" i]
.verbose
.chakra-tooltip__arrow-wrapper[style*="translate3d(0px, 9px, 0px)" i] {
  top: 14px !important;
}

[data-popper-placement="right-start" i]
.verbose
.chakra-tooltip__arrow-wrapper[style*="translate3d(0px, 19px, 0px)" i] {
  top: 3px !important;
}

[data-popper-placement="right-end" i] .verbose .chakra-tooltip__arrow-wrapper {
  top: 14px !important;
}

#changelog hr, #changelog li {
  margin-top: 0.5em;
}

#changelog hr {
  color: var(--chakra-colors-fg-grid);
}

#changelog h3, #changelog a {
  color: var(--chakra-colors-bg-button);
}

#changelog h3 {
  margin-top: 1.5em;
  font-weight: bold;
}

#changelog li {
  margin-left: 1em;
}

#changelog code {
  margin-left: 0.25em;
  font-size: var(--chakra-fontSizes-sm);
  color: var(--chakra-colors-fg-gutter);
}

#changelog a {
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 2px;
  padding: 1px;
}

#changelog a:hover {
  color: var(--chakra-colors-bg-inverted);
}

#changelog a:focus {
  outline: none;
  box-shadow: var(--chakra-shadows-outline);
}

#legal *:not(.close-dialog)::before, #legal header h1, #legal .iub-manage-preferences-container {
  display: none !important;
}

#legal div, #legal .footer__first-row:after, #legal .btn:hover {
  background: none !important;
}

#legal div, #legal h1, #legal h2, #legal h3, #legal h4, #legal p, #legal li, #legal button {
  color: var(--chakra-colors-chakra-body-text) !important;
}

#legal div, #legal h4, #legal header p {
  font-size: var(--chakra-fontSizes-md) !important;
}

#legal div, #legal li {
  font-family: var(--chakra-fonts-body) !important;
}

#legal div, #legal .section__further-info-eu-users strong:not(ul strong) {
  font-weight: 300;
}

#legal div {
  padding: 0 !important;
}

#legal #iub-legalDoc,
#legal #in-case-of-issues-card .summary__card-section,
#legal .footer__first-row div,
#legal .footer__credits {
  border: none !important;
}

#legal .aside-main-wrapper,
#legal .summary__card-section,
#legal .pre-footer,
#legal footer .footer__first-row,
#legal header.main-header,
#legal article header,
#legal #table-of-content-wrapper ul {
  border-color: var(--chakra-colors-fg-grid) !important;
}

#legal .summary__card-section:not(:last-of-type) {
  padding-bottom: 1em !important;
}

#legal #in-case-of-issues-card .summary__card-section, #legal footer {
  padding-bottom: 0 !important;
}

#legal #in-case-of-issues-card .summary__card-section,
#legal footer p,
#legal .arrow-style-list li {
  margin-top: 0.75em;
}

#legal .pre-footer, #legal .table-of-content-btn-wrapper {
  padding-bottom: 1.5em !important;
}

#legal .footer__first-row div,
#legal article,
#legal summary p,
#legal .footer__credits p,
#legal .check-style-list li,
#legal .arrow-style-list li {
  margin-bottom: 0 !important;
}

#legal .table-of-content-btn-wrapper,
#legal article,
#legal details,
#legal figure,
#legal .third-parties-item,
#legal button {
  border-color: var(--chakra-colors-chakra-border-color) !important;
}

#legal .table-of-content-btn-wrapper {
  position: sticky;
  top: 0;
  background: var(--chakra-colors-chakra-body-bg) !important;
  padding-top: 1.5em !important;
}

@media screen and (max-width: 960px) {
  #legal #table-of-content-wrapper {
    z-index: 2147483647;
  }
}

#legal header {
  padding: 0 !important;
}

#legal header p {
  text-align: left;
  text-wrap: auto !important;
}

#legal main {
  padding-bottom: 0.75em;
}

#legal footer, #legal h2, #legal h4, #legal h5, #legal ul {
  margin-top: 1em !important;
}

#legal section:after {
  margin-block: 2em 1.5em !important;
  background: var(--chakra-colors-fg-grid) !important;
  height: 1px !important;
}

#legal article, #legal details {
  border-radius: var(--chakra-radii-md) !important;
  background: var(--chakra-colors-bg-muted) !important;
}

#legal article {
  padding: 1.5em;
}

#legal [role="dialog"] {
  z-index: 2147483647 !important;
}

#legal details {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}

#legal h1,
#legal h2,
#legal h3,
#legal h4,
#legal p,
#legal [class*="section__further-info-"] ul,
#legal .table-of-content-list li {
  margin-bottom: 1em !important;
}

#legal h1, #legal h2, #legal h3, #legal h4, #legal a {
  font-weight: bold;
}

#legal h1, #legal h3, #legal summary h4 {
  margin-top: 0 !important;
}

#legal h1 {
  font-size: var(--chakra-fontSizes-2xl) !important;
}

#legal h2 {
  font-size: var(--chakra-fontSizes-xl) !important;
}

#legal h3 {
  font-size: var(--chakra-fontSizes-lg) !important;
}

#legal .main-header__meta, #legal .section__further-info-eu-users strong:not(ul strong) {
  font-style: italic;
}

#legal .main__section p {
  margin-block: 0.75em !important;
}

#legal .pill, #legal a {
  color: var(--chakra-colors-bg-button) !important;
}

#legal .pill {
  font-size: var(--chakra-fontSizes-xs) !important;
}

.chakra-ui-light #legal .pill {
  border-color: rgba(48, 87, 225, 0.16);
  background: rgba(48, 87, 225, 0.08);
}

.chakra-ui-dark #legal .pill {
  border-color: rgba(121, 153, 247, 0.16);
  background: rgba(121, 153, 247, 0.08);
}

#legal .third-parties-item {
  flex: none !important;
  width: 48px !important;
  height: 48px !important;
}

#legal [class*="section__further-info-"] li {
  margin-left: 1em !important;
}

#legal .third-parties-item img {
  width: 24px !important;
  height: 24px !important;
}

#legal a {
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 2px;
  padding: 1px;
  text-decoration: none !important;
}

#legal a:hover {
  color: var(--chakra-colors-bg-inverted) !important;
}

#legal a:focus {
  outline: none;
  box-shadow: var(--chakra-shadows-outline);
}

#legal .btn {
  border-width: 2px !important;
  border-color: var(--chakra-colors-bg-button) !important;
}

#legal .btn:hover {
  border-color: var(--chakra-colors-bg-inverted) !important;
}

#legal .btn:focus {
  box-shadow: 0 0 0 2px var(--chakra-colors-bg-button);
}

#legal .btn:hover:focus {
  box-shadow: 0 0 0 2px var(--chakra-colors-bg-inverted);
}

#legal button {
  background: var(--chakra-colors-bg-muted) !important;
}

.chakra-ui-light #legal button:hover {
  background: var(--chakra-colors-gray-100) !important;
}

.chakra-ui-dark #legal button:hover {
  background: var(--chakra-colors-whiteAlpha-100) !important;
}

@media screen and (max-width: 960px) {
  #legal button:not(.close-dialog) {
    padding-block: 1em !important;
    font-size: var(--chakra-fontSizes-lg) !important;
  }
}
